<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link href="/styles/main.css" rel="stylesheet">
    <link href="/styles/pagecategorys.css" rel="stylesheet">

    <!-- <link href="/admin.css" rel="stylesheet"> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">

    <title>Jobify</title>
</head>

<body id="page-category">

    <div class="page-header">
        <a href="/admin/categorias">
            <img src="/images/back.svg" alt="Back" srcset="" />
        </a>
        <div class="page-title">
            <h1>
                Edit category
            </h1>
        </div>
    </div>

    <div id="edit-category">
        <div id="form-input">
            <form method="POST">
                <label>Name:</label>
                <input type="text" name="categoria" value="<%= categorias.categoria %>">
                <br>
                <button>Save</button>
            </form>
        </div>
    </div>
</body>

</html>