<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <link href="/categorys.css" rel="stylesheet">
        <!-- <link href="/admin.css" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

        <title>Jobify</title>
    </head>
    <body id="page-category">
         <div id="edit-job">
            <h2>
                <div id="nova_vaga"> New job opportunity </div>
            </h2>
    
        <div>
            <form method="POST">
                <label>Category:</label>
                <input type="text" name="titulo">
                <br>
                <label>Description:</label>
                <textarea name="descricao"></textarea>
                <br>
                <label>category:</label>
                <select name="categoria">
                    <% categorias.forEach( categoria => { %> 
                    <option value="<%= categoria.id %>"><%= categoria.categoria %> </option>
                    <% })%> 
                </select>
                <br>
                <button>Save job opportunity</button>
            </form>
        </div>
        </div>
        <div class="buttons-container">
            <div id="vagas"><a href="/admin/vagas/">View jobs</a></div>
        </div>
    </body>
</html>