<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />

  <link href="/styles/main.css" rel="stylesheet" />
  <link href="/styles/pageopportunitys.css" rel="stylesheet" />

  <!-- <link href="/admin.css" rel="stylesheet"> -->
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet" />

  <title>Jobify</title>
</head>

<body id="page-category">
  <div class="page-header">
    <a href="/admin">
      <img src="/images/back.svg" alt="Back" srcset="" />
    </a>
    <div class="page-title">
      <h1>
        Manage opportunities
      </h1>
    </div>
  </div>

  <div class="jobs-list">
    <ul>
      <% vagas.forEach(vaga => { %>

      <li>
        <%- vaga.titulo %>
        <a href="/admin/vagas/editar/<%- vaga.id%>">
          <img src="/images/edit.svg" alt="edit job" srcset="">
        </a>
        <a href="/admin/vagas/delete/<%- vaga.id%>">
          <img src="/images/delete.svg" alt="delete category" srcset="">
        </a>
      </li>

      <% }) %>
    </ul>

    <div class="buttons-container">
      <a id="job-button" href="/admin/vagas/nova">New job opportunity</a>
    </div>

  </div>
</body>

</html>