<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/estilos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Jobify</title>
  </head>
  <body>
    <div id="container">
      
      <div class="logo-container">
        <h1>Jobify</h1>
        <h3>Connecting people to open roles!</h3>
      </div>
      