<%- include('header-landing') %>
<div id="container">
    <div class="logo-container">
      <h1>Jobify</h1>
      <h2>Connecting people to open roles</h2>
    </div>
    <div class="hero-image">
    <img src="images/interview.svg" alt="portfolio">
    </div>
    <div class="buttons-container">
      <a href="/vagas">Open roles</a>
      <a href="/admin">Admin</a>
    </div>
</div>

<%- include('footer.ejs') %> 